<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home">
            <img
                    src="../img/black_text_logo.jpeg"
                    alt="Books Haven Logo"
                    height="40" />
        </a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="categoriesDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li><a class="dropdown-item" href="#">Fiction</a></li>
                        <li><a class="dropdown-item" href="#">Non-Fiction</a></li>
                        <li><a class="dropdown-item" href="#">Mystery & Thriller</a></li>
                        <li><a class="dropdown-item" href="#">Science Fiction & Fantasy</a></li>
                        <li><a class="dropdown-item" href="#">Romance</a></li>
                        <li><a class="dropdown-item" href="#">Biography & Memoir</a></li>
                        <li><a class="dropdown-item" href="#">History</a></li>
                        <li><a class="dropdown-item" href="#">Self-Help</a></li>
                        <li><a class="dropdown-item" href="#">Children's Books</a></li>
                        <li><a class="dropdown-item" href="#">Young Adult</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#new-arrivals">New Arrivals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
            </ul>

            <form class="d-flex mx-auto" style="min-width: 300px">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search books, authors..." aria-label="Search" />
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="ri-search-line"></i>
                    </button>
                </div>
            </form>

            <div class="d-flex align-items-center ms-auto">
                <a href="/" class="btn btn-outline-primary me-2">Sign In</a>
                <a href="signup" class="btn btn-primary">Sign Up</a>
                <a href="#" class="btn btn-link position-relative ms-2">
                    <i class="ri-shopping-cart-2-line fs-5"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
                </a>
            </div>
        </div>
    </div>
</nav>
